<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h4 class="text-white">User Management</h4>
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal"><i class="pi pi-plus"> Create User</i>
        </button>
        <button type="button" class="btn btn-outline-danger ml-3" data-toggle="modal" data-target="#exampleModalCenter"><i class="pi pi-plus"> Test User</i>
        </button>
        <button type="button" class="btn btn-outline-primary ml-3" routerLink="/apply"><i class="pi pi-plus"> Apply</i>
        </button>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>

<app-user></app-user>
<!-- <app-user-list></app-user-list> -->
<!-- <app-forms></app-forms> -->